<h1>Oliver's Recipe Website</h1>
<p> This is a website that searches for popular recipes. Please input an ingredient below.</p>

<p>
<%= form_tag("", :method => "get") do %>
  <%= label_tag(:search, "Search for recipes containing: ") %>
  <%= text_field_tag(:search, @search_term) %>
  <%= submit_tag "Search" %>
<% end %>
</p>

<table border="1">
  <tr>
    <th>Image</th>
    <th>Title</th>
    <th>Social Rank</th>
  </tr>
  <% @recipes.each do |recipe| %>
    <tr class= <%= cycle('even', 'odd') %>>
      <td><%= link_to(image_tag(recipe["image_url"], height:"100"), recipe["source_url"])%></td>
      <td><%= link_to(recipe["title"].html_safe, recipe["source_url"])%></td>
      <td><%= recipe["social_rank"]%></td>
    <tr>
  <% end %>
</table>
<p>Powered By Food2Fork.com</p>
